
@{
    ViewData["Title"] = "AboutMe";
}


<h2>About Me</h2>

<p>Hello! My name is <strong>AKINNAWO TOLA SAMSON</strong>. I am a junior software developer based in Nigeria, passionate about building web applications using C# and ASP.NET.</p>

<p>I recently graduated with a B.Sc. in Chemistry and I'm currently enhancing my skills through real-world projects and certifications. I enjoy learning new technologies and solving problems through code.</p>

<p>In my free time, I work on small personal projects, contribute to open-source, and explore cloud computing using Microsoft Azure.</p>
