@{
    ViewData["Title"] = "Education";
}

<h2>Education & Certifications</h2>

<ul>
    <li>
        <strong>Bachelor of Science in Computer Science</strong><br />
        University of Lagos, Nigeria (2018 – 2022)
    </li>
    <br />
    <li>
        <strong>Microsoft Certified: Azure Fundamentals (AZ-900)</strong><br />
        Completed in 2024
    </li>
    <br />
    <li>
        <strong>Udemy – C# and ASP.NET MVC Web Development Bootcamp</strong><br />
        Completed in 2025
    </li>
</ul>

<h3>Skills Gained</h3>
<ul>
    <li>ASP.NET Core MVC</li>
    <li>C# Programming</li>
    <li>Entity Framework</li>
    <li>SQL Server</li>
    <li>HTML, CSS, and Bootstrap</li>
</ul>
