@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ToMy Second Assesment</h1>
    <p>On this page, you will find everything about my Cvand how to calculate your tax. </p>
    <p>Just go through the Navigations and enjoy yourself while you tour around my small skeleton App </p>
</div>
