@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Using this medium to tell you that there is nothing private about this App for now so you can play with it as much as you love and enjoy it</p>
