@{
    ViewData["Title"] = "My Projects";
}

<h2>My Projects</h2>

<p>Here are some of the projects I’ve worked on recently:</p>

<ul>
    <li>
        <strong>Online CV Website</strong><br />
        A personal website built with ASP.NET Core MVC and hosted on Azure, showcasing my resume, portfolio, and a working tax calculator.
    </li>
    <br />
    <li>
        <strong>Simple Inventory Management System</strong><br />
        A basic CRUD application using ASP.NET Core and Entity Framework. Used to manage stock, suppliers, and sales data.
    </li>
    <br />
    <li>
        <strong>Blog App</strong><br />
        A blog-style web application where users can create, edit, and delete posts. Built with Razor Pages and SQL Server.
    </li>
</ul>

<p>Thankyou for going through my cv</a>.</p>


